.gameContainer {
  display: grid;
  grid-template-columns: 150px 150px 150px;
}
.baseStyle {
  background-color: rgba(255, 228, 196, 0);
  width: 150px;
  height: 150px;
  font-size: 30px;
}
.topBorder {
  border-top: 0px;
}
.leftBorder {
  border-left: 0px;
}
.bottomBorder {
  border-bottom: 0px;
}
.rightBorder {
  border-right: 0px;
}
.navigateButton {
  border: none;
  width: 150px;
  height: 50px;
  font-size: 25px;
  background-color: #100720;
  border-radius: 20px;
  color: white;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonStyle {
  margin-top: 20px;
  display: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}
.buttonStyle::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.buttonStyle:active {
  transform: scale(0.9) rotate(3deg);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transition: 0.5s;
}
